<div class="col-lg-10">
  <div class="col-lg-8">
    <h3 class="no-pad-top">Database statistics</h3>
    <div id="collection_chart"></div>
    <ul class="list-group">
      {{#each db_stats}}
        <li class="list-group-item"><i class="fa fa-database"></i>&nbsp;&nbsp; <a href="/{{../conn_name}}/{{@key}}">{{@key}}</a></li>
        {{#each this}}  
          <li class="list-group-item coll_indent">
            <div class="row">
              <div class='col-lg-3 col-sm-12'>
                <i class="fa fa-table"></i>&nbsp;&nbsp; <a href="/{{../../conn_name}}/{{@../key}}/{{@key}}/view">{{@key}}</a>
              </div>
              <div class='col-lg-3 col-sm-4'>
                <i class="fa fa-hdd-o"></i>&nbsp; Storage: {{formatBytes this.Storage}}
              </div>
              <div class='col-lg-3 col-sm-4'>
                <i class="fa fa-file-text-o"></i>&nbsp; Documents: {{this.Documents}}
              </div>
              <div class='col-lg-3 col-sm-4'>
                <a href="#" id="{{@key}}" class="exportLink pull-right" data-toggle="modal" data-target="#exportModal"><i class="fa fa-download"></i>&nbsp; Export</a>
              </div>
            </div>
          </li>
        {{/each}}
      {{/each}}
    </ul>
    <ul class="list-group">
      {{#each db_list.databases}}
        <li class="list-group-item"><strong>{{@key}}</strong>: {{this.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>